/*
*= require_self
*= require bxslider
*= require fancybox
*= require font-awesome
*= require jquery-ui
*= require jquery.fileupload-ui
*= require jquery.Jcrop
*= require nprogress
*= require nprogress-bootstrap
*= require ./../mixins
*= require_tree .
*/

@import '../mixins'